@import url('https://fonts.googleapis.com/css2?family=Anton&family=Diplomata+SC&family=Josefin+Sans:wght@500&family=Kdam+Thmor+Pro&family=Mulish:wght@500&family=Oswald&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Allan&family=Amatic+SC:wght@700&family=Covered+By+Your+Grace&family=Itim&family=Lobster&family=Mulish&family=Orbitron&family=Permanent+Marker&family=Rubik+Vinyl&family=Sassy+Frass&family=Sevillana&family=Shadows+Into+Light&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: #fcbf49;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.title {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 150px;
    font-family: "Zen Dots";
}
.intro {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 40px;
    font-family: "Mulish";
    width: 60%;
}
.intro span {
    font-size: 50px;
    font-family: "Anton";
}
.intro a {
    font-size: 45px;
    font-family: "Lobster";
    color: #d62828;
}