<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeonTM | Bots</title>
    <link rel="stylesheet" href="/Alle/menu.css">
    <link rel="stylesheet" href="/Bots/Landing/style.css">
    <style>
        * {
            scroll-behavior: smooth;
        }
        .hide {
            display: none;
        }
    </style>
</head>
<body>
    <div class="background" id="background">
        <img class="menu-button" src="/Images/Black/Mehr-Punkte.png" id="menu-button" onclick="openMenu()">
        <div class="menu hide" id="menu">
            <img class="menu-close hide" id="menu-close" src="/Images/Black/Schließen.png" onclick="closeMenu()">
            <div class="menu-item hide" id="menu-item-1" onclick="openMenuHome()" title="Home">
                <img class="menu-item-img" src="/Images/Black/Home.png">
                <div class="menu-item-name">Home</div>
            </div>
            <div class="menu-item hide" id="menu-item-2" onclick="openMenuRegister()" title="Registrieren">
                <img class="menu-item-img" src="/Images/Black/Nutzer.png">
                <div class="menu-item-name">Registrieren</div>
            </div>
            <div class="menu-item hide" id="menu-item-3" onclick="openMenuGames()" title="Games">
                <img class="menu-item-img" src="/Images/Black/Controller.png">
                <div class="menu-item-name">Games</div>
            </div>
            <div class="menu-item hide" id="menu-item-4" onclick="openMenuBots()" title="Bots">
                <img class="menu-item-img" src="/Images/Black/Bot.png">
                <div class="menu-item-name">Bots</div>
            </div>
            <div class="menu-item hide" id="menu-item-5" onclick="openMenuImprint()" title="Impressum">
                <img class="menu-item-img" src="/Images/Black/Help.png">
                <div class="menu-item-name">Impressum</div>
            </div>
            <div class="menu-item hide" id="menu-item-6" onclick="openMenuDatenschutz()" title="Home">
                <img class="menu-item-img" src="/Images/Black/Schild.png">
                <div class="menu-item-name">Datenschutz</div>
            </div>
        </div>
        <div class="page-title" id="page-title">LeonTM Bots</div>
        <div class="page-intro" id="page-intro">Bekomme die besten Bots, kostenlos!</div>
        <button class="signup-discord" id="signup-discord" onclick="signUpDiscord()"><img src="/Images/White/Discord.png"><div>Login</div></button>
        <img src="/Images/Black/Pfeil-Kurz-Links.png" class="scroller" id="scroller" onclick="scrollToNextSection()">
        <section class="ticketstm" id="ticketstm"></section>
        <section class="rolestm" id="rolestm"></section>
    </div>
    <script src="/Alle/menu.js"></script>
    <script src="/Bots/Landing/script.js"></script>
</body>
</html>