<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>TicketsTM Serverliste | LeonTM</title>
</head>
<body>
    <div class="background" id="background">
        <div class="profile" id="profile">
            <div class="profile-username" id="p-username"></div>
            <img class="profile-image" id="p-image">
        </div>
        <div class="page-title" id="page-title">Wähle einen Server</div>
        <div class="server-list" id="server-list">
            <div class="server">
                <img class="server-pfp">
                <div class="server-name"></div>
            </div>
            <div class="server">
                <img class="server-pfp">
                <div class="server-name"></div>
            </div>
            <div class="server">
                <img class="server-pfp">
                <div class="server-name"></div>
            </div>
        </div>
    </div>
</body>
</html>